<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EetConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <EetConnector.Properties.Settings>
            <setting name="DBF_PATH" serializeAs="String">
                <value>dbf\EET.DBF</value>
            </setting>
            <setting name="DIC" serializeAs="String">
                <value>CZ1212121218</value>
            </setting>
            <setting name="CRT_PATH" serializeAs="String">
                <value>certificates\pg_cert.p12</value>
            </setting>
            <setting name="CRT_PASS" serializeAs="String">
                <value>eYnT6oRnrxj+kOIbsdqzww==</value>
            </setting>
            <setting name="ID_PROVOZ" serializeAs="String">
                <value>11</value>
            </setting>
            <setting name="EET_TEST" serializeAs="String">
                <value>True</value>
            </setting>
        </EetConnector.Properties.Settings>
    </applicationSettings>
</configuration>